body > * {
  /* border: 2px solid black; */
  height: 11.11%;
}

/* General changes */
header,
.trial {
  background-color: rgb(36, 49, 67);
}

header,
nav,
.trial {
  height: 60px;
}

.first,
.second,
.last {
  height: 75vh;
}

.up {
  height: 65vh;
}

.down {
  height: 30vh;
}

footer {
  height: 25vh;
}

.up {
  background-image: linear-gradient(
      rgba(31, 41, 57, 0.6),
      rgba(31, 41, 57, 0.6)
    ),
    url("../images/home-hero1.jpg");

  background-position-y: 60%;
}

.down {
  background-image: linear-gradient(
      rgba(31, 41, 57, 0.92),
      rgba(31, 41, 57, 0.92)
    ),
    url("../images/home-hero2.jpg");
}

.last {
  background-color: rgb(246, 249, 251);
}

/*  HEADER CHANGES */

header {
  color: rgb(179, 195, 212);
  font-size: 14px;
  display: flex;
  justify-content: space-around;
}

header ul {
  display: inline;
}

header ul li {
  display: inline-block;
  line-height: 30px;
}

.options li {
  margin-right: 25px;
}

.options li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.fa,
.fas {
  font-size: 20px;
}

/* NAV CHANGES */

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  line-height: 60px;
  flex-basis: 50%;
  text-align: center;
}
nav ul li:hover {
  background-color: rgb(246, 249, 251);
  cursor: pointer;
}

/* FIRST HERO SECTION CHANGES */

.up {
  padding: 120px 100px 0 100px;
  text-align: center;
}

.up p {
  margin-top: 35px;
}

.up input {
  height: 36px;
  width: 35%;
}

.up button {
  padding: 10px 35px;
}

.display p {
  color: rgb(160, 160, 160);
}

/* FIRST SHOWCASE CHANGES */

.display {
  padding-top: 30px;
  text-align: center;
}

.box {
  height: 75%;
  margin: 10px 15%;
  display: flex;
  gap: 20px;
}

.first .box .showcase {
  flex: 1;
}

.first .box .showcase:first-child {
  flex: 2;
}

.box .showcase {
  box-shadow: 0px 1px rgba(208, 208, 208, 0.8);
  border: 1px solid rgba(208, 208, 208, 0.8);
  border-radius: 5px;
}

.showcase img,
.block img {
  width: 100%;
  height: 60%;
}

.show-story {
  padding: 5px 20px;
}

.big {
  text-align: left;
}

.show-story p {
  color: rgb(36, 49, 67);
  font-size: 14px;
  text-align: left;
}

.show-story button {
  padding: 5px 15px;
  background-color: white;
  color: rgb(160, 160, 160);
  border: 1px solid rgb(160, 160, 160);
}

.show-story button:hover {
  background-color: rgb(246, 249, 251);
}

/* SECOND HERO CHANGES */

.down {
  padding-top: 40px;
}

.down button {
  background-color: transparent;
  border: 2px solid orange;
  padding: 10px 50px;
}

.down button:hover {
  background-color: rgb(36, 49, 67);
}

/* SECOND SHOWCASE */
.second .box {
  overflow: auto;
}

.second .box .showcase {
  flex: 1;
}

.second .show-story {
  margin-top: 25px;
}

.second .show-story p {
  text-align: center;
  font-size: 13px;
}

.title {
  font-weight: 900;
  font-size: 12px;
  margin: 3px 0;
}

.second .showcase img {
  height: 45%;
}

/* Third SHOWCASE */

.grid {
  height: 70%;
  margin: 10px 20%;
  display: grid;
  grid-template-rows: 160px 160px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.grid img {
  border-radius: 5px;
  box-shadow: 0px 2px rgba(208, 208, 208, 0.8);
}

.grid p {
  font-size: 13px;
  text-align: left;
  color: rgb(36, 49, 67);
}

/* TRIAl */

.trial {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 30px;
}

.trial button {
  padding: 10px 60px;
  height: 36px;
}

.trial p {
  font-size: 20px;
}

/* FOOTER */

footer {
  font-size: 13px;
}

footer > ul {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}

footer ul {
  padding-left: 0;
}

footer li {
  margin: 6px;
}

footer li:first-child {
  color: rgb(179, 195, 212);
  font-weight: 700;
}

footer a {
  text-decoration: none;
  color: rgb(36, 49, 67);
}

footer a:hover {
  text-decoration: underline;
}

/* MEDIA QUERIES  */

@media screen and (max-width: 1300px) {
  .box,
  .grid {
    margin: 10px 10px;
    gap: 10px;
  }

  .trial p,
  .trial button {
    font-size: 11px;
  }
  .trial button {
    padding: 10px 25px;
  }
}

@media screen and (max-width: 550px) {
  header ul li {
    font-size: 11px;
  }

  .options li {
    margin-right: 10px;
  }

  .hero {
    font-size: 11px;
    padding: 50px 10px 0 10px;
  }

  .hero p {
    font-size: 13px;
  }

  .hero button {
    padding: 10px;
  }

  .fa,
  .fas {
    display: none;
  }

  .display {
    font-size: 11px;
  }

  .box {
    gap: 0;
  }

  .show-story p,
  .grid p {
    font-size: 10px;
  }

  .second .show-story p {
    font-size: 10px;
  }
  .show-story button {
    font-size: 10px;
  }

  .show-story h4 {
    font-size: 9px;
  }

  .trial button {
    font-size: 9px;
    padding: 10px;
  }

  footer {
    font-size: 10px;
  }
}
