* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(36, 49, 67);
}

ul {
  list-style: none;
}

button {
  padding: 10px 130px;
  color: white;
  background-color: rgb(102, 187, 106);
  font-weight: bold;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: rgb(63, 117, 66);
}

.hero {
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}

.hero p {
  font-size: 20px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

::placeholder {
  color: rgba(208, 208, 208, 0.9);
}
